*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	box-sizing: inherit; /* set the inherit here so for 3rd party css is not affected by universal selector */
}

html {
	box-sizing: border-box;
	font-size: 62.5%; /* 1rem = 10px, 10px / 16px = 62.5% | 10px of the default 16px from browser. easier to set rem */
}

/* Set the default style */
body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	line-height: 1.6;
	font-size: 1.6rem;
	color: #1687a7;
	background: linear-gradient(
		to right,
		#74ebd5,
		#acb6e5
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
